@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500,600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background: url("images/boutique\ .jpeg") center / cover no-repeat;
}
header {
   position: fixed;
   width: 100%;
   left: 0;
   top: 0; 
   padding: 0 10px;
   z-index: 1000;
}

.navbar {
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}

.navbar .logo {
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.navbar .logo img {
    width: 40px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: blue;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar .links {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navbar .links a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar .links a:hover {
    color: blueviolet;
}

.navbar .login-btn {
    border: none;
    outline: none;
    color: wheat;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    background: blueviolet;
}


.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    background: whitesmoke;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}



.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1500;       
    display: none;       
}


.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: black;
    cursor: pointer;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    max-width: 350px;
    width: 100%;
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/login\ background.jpeg);
    background-size: cover;
    background-position: center;
}

.login .form-details {
     background: url(images/login\ background.jpeg);
    background-size: cover;
    background-position: center;
}
.signup.form-details {
     background: url(images/login\ background.jpeg);
    background-size: cover;
    background-position: center;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}
form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717177;
}

.input-field input:focus {
    border-color: pink;
}

.input-fieldinput:is(:focus, :valid) {
    padding: 16px 15px 0;
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717177;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    color: pink;
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.form-box a {
    color: pink;
    text-decoration: none;
}

.form-box a:hover {
    color: pink;
    text-decoration: underline;
}

.form-box :where(.forgot-pass, .poilcy-text) {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: pink;
    transition: 0.2s ease;
}

form button:hover {
    background: lightpink;
}

.form-box .bottom-link {
    text-align: center;
}

.form-popup .signup {
    display: none;
}

.signup .policy-text {
    display: flex;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details{
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}